@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap");

.main {
  font-family: "Markazi Text", serif;
}

.logo {
  cursor: pointer;
}

.header {
  max-width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 160px;
}

.menu-item {
  width: 100%;
  display: flex;
  flex: 1;
  gap: 40px;
  list-style-type: none;
  font-size: 26px;
}

.menu-item-link {
  text-decoration: none;
  color: #284f2b;
  cursor: pointer;
}

.main-section-wrapper {
  height: 500px;
  background-color: #495e57;
}

.main-section {
  position: relative;
  margin: 0px 160px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 200px;
}

.main-left-section {
  margin-top: 50px;
}

.main-right-section {
}

.main-heading {
  font-size: 60px;
  color: #f4ce14;
  margin: 0px;
}

.sub-heading {
  font-size: 38px;
  color: white;
  margin: 0px;
  margin-top: 10px;
}

.description {
  font-size: 24px;
  color: white;
  margin-top: 30px;
  margin-bottom: 40px;
}

.btn {
  padding: 15px 30px;
  background-color: #f4ce14;
  outline: none;
  border: none;
  border-radius: 8px;
  font-family: "Markazi Text", serif;
  font-size: 22px;
  cursor: pointer;
}

.main-image {
  border-radius: 16px;
  height: 520px;
  transform: translateY(50px);
}

.weekly-special-section {
  margin-top: 160px;
  margin-left: 160px;
  margin-right: 160px;
}

.first-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weekly-special-heading {
  font-size: 50px;
  margin: 0px;
}
