@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap");

.main {
  font-family: "Markazi Text", serif;
}
/* #f4ce14 */
:root {
  --primary-color: #dfbd01;
  --secondary-color: #284f2b;
  --tertiary-color: #fbdabb;
  --dark-color: #333333;
  --light-color: #edefee;
}

.text-teal {
  color: var(--secondary-color) !important;
}

.text-yellow {
  color: var(--primary-color) !important;
}

.nav-link:hover {
  color: #173a1b !important;
  text-decoration: underline;
  transition: all 2000ms ease-in-out;
}

.navbar {
  overflow-x: hidden;
}

.custom-toggler-icon {
  font-size: 18px;
}

.hero-left-section {
  width: 60%;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("images/green.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #5f726e; */
  /* background-color: #495e57; */
}

.logo {
  width: 200px;
  max-width: 100%;
}

@media (max-width: 992px) {
  .logo {
    width: 160px;
  }
}

.hero-right-section {
  width: 40%;
}

.hero-image {
  width: 100%;
  height: 650px;
  object-fit: cover;
}

.hero-section-small {
  background-image: url("images/_\ \(2\).jpeg");
  height: 500px;
  background-size: cover;
}

.hero-image-small {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.custom-btn-text {
  color: #dfbd01;
}

.weekly-special-img {
  height: 350px;
}
