@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap");

.main {
  font-family: "Markazi Text", serif;
}

.menu-item {
  display: flex;
  gap: 20px;
  list-style-type: none;
  font-size: 26px;
}

.menu-item-link {
  text-decoration: none;
  color: #284f2b;
}
