@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap");

.main {
  font-family: "Markazi Text", serif;
}
/* #f4ce14 */
:root {
  --primary-color: #dfbd01;
  --secondary-color: #284f2b;
  --tertiary-color: #fbdabb;
  --dark-color: #333333;
  --light-color: #edefee;
  --width: 20% !important;
}

.text-teal {
  color: var(--secondary-color) !important;
}

.text-yellow {
  color: var(--primary-color) !important;
}

.nav-link:hover {
  color: #dfbd01 !important;
  text-decoration: underline;
}

.navbar {
  overflow-x: hidden;
}

.custom-toggler-icon {
  font-size: 18px;
}

.hero-left-section {
  width: 60%;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("images/green.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #5f726e; */
  /* background-color: #495e57; */
}

.hero-padding {
  margin-top: 40px;
}

.menu-padding {
  padding-top: 50px;
  padding-bottom: 70px;
}

.logo {
  width: 200px;
  max-width: 100%;
}

@media (max-width: 992px) {
  .logo {
    width: 160px;
  }
}

.hero-right-section {
  width: 40%;
}

.hero-image {
  width: 100%;
  height: 650px;
  object-fit: cover;
}

.hero-section-small {
  background-image: url("images/_\ \(2\).jpeg");
  height: 500px;
  background-size: cover;
}

.hero-image-small {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.custom-btn-text {
  color: #dfbd01;
}

.weekly-special-img {
  height: 380px;
  object-fit: cover;
}

.card-background {
  background-color: var(--secondary-color);
}

.custom-icon {
  width: 40px;
  height: 40px;
}

.custom-img {
  width: 450px;
  height: 550px;
  border-radius: 20px;
}

.custom-padding {
  padding-top: 70px;
}

.custom-card {
  padding-right: 20px;
}

.card-img-top {
  object-fit: cover;
}
/* .carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #284f2b;
  border-radius: 50%;
} */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

/* .main-background {
  background-image: url("./images/about2.jpg ");
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
} */

.main-background {
  position: relative;
  background-image: url("./images/about2.jpg");
  background-size: cover;
  background-position: center;
  height: 75vh;
}

.main-background::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4); /* dark overlay */
}

.about-text {
  position: relative;
  /* keep your theme yellow-green tone */
  color: #dfbd01;
}

.letter-space {
  letter-spacing: 8px !important;
}

.small-text {
  color: white;
  z-index: 1;
}

.ourstory-left {
  background-image: url("./images/Download\ White\ abstract\ background\ on\ 3d\ design\ for\ free.jpeg");
  background-size: cover;
  min-height: 408px;
  padding-bottom: 10px;
}

.ourstory-right {
  background-image: url("./images/_\ \(7\).jpeg");
  min-height: 408px;
  background-size: cover;
}

.left-section {
}

.sec-info-bg {
  position: relative;
  background-image: url("./images/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}
.sec-info-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4); /* dark overlay */
}
